/* sets border and background for the header */
.header {
    border-bottom: 10px solid darkorchid;
    display: flex;
    flex: content;
    background-color: wheat;
    align-items: center;
    justify-content: space-between;
}

/* sets the itsMe class to have bold font */
#itsMe {
    font-weight: bolder;
}

nav section {
    display: inline-block;
    justify-content: flex-end;
    padding: 5px;
    border: 2px dashed lightslategray;
    border-radius: 10px;
}

#aboutMe {

}

#myWork {

}

#contactMe {

}